@model IEnumerable<Ecommerce.Models.Product>



<a asp-controller="Product" asp-action="create">Create Product</a>

<form asp-controller="Product" asp-action="display" >


    <input type="search" placeholder="Search" name="searchString"/>
    <input type="submit" value="Search product" /> 


</form>


@{
    foreach (var item in Model)
    {
        <h1>@item.Id</h1>
        <h1>@item.Name</h1>
        <h1>@item.Price</h1>
    }
}
